/*
9BC53D
C3423F
*/
@import 'fonts.css';
@font-face {
  font-family: "BebasNeue-Regular";
  src: url(fonts/bebasneue/BebasNeue-Regular.woff2) format("woff2"), url(fonts/bebasneue/BebasNeue-Regular.woff) format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Septacharge-Regular";
  src: url(fonts/septacharge/Septacharge.otf);
}
@font-face {
  font-family: "Keep-calm-Medium";
  src: url(fonts/keep-calm/KeepCalm-Medium.ttf);
}
/* vars */
/* fonts */
body {
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Keep-calm-Medium", "BebasNeue-Regular", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
}

/* templates */
section {
  margin-left: 16%;
  margin-right: 16%;
}

/* core */
body, h1, h2, h3, h4, h5, p, div {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex-grow: 1;
  margin-top: 32px;
  padding-bottom: 24px;
}
section h2 {
  font-weight: lighter;
  color: #211A1E;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
section:not(:last-of-type) {
  border-bottom: 1px solid #e8e8e8;
}
section#about {
  margin-bottom: 48px;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 8px;
}
footer .divider {
  height: 1px;
  background-color: #000;
  margin-bottom: 16px;
}

/* about me */
.full-width {
  margin: 0;
  padding: 0;
}

.intro-header {
  height: 400px;
  background-color: #211A1E;
  display: flex;
  padding-left: 16%;
  padding-right: 16%;
}
.intro-header div {
  align-self: flex-start;
}

.profile-pic {
  height: 360px;
  width: 280px;
  object-fit: cover;
  border: #fff 8px solid;
  margin: 64px 0 0 0;
}

.header-details {
  margin: 112px 0 0 32px;
  color: #fff;
}

.my-description p {
  margin: 4px 0;
}
.my-description .name {
  color: #FDE74C;
  font-weight: lighter;
  font-size: 2.2em;
}
.my-description .job {
  font-size: 1.3em;
  margin: 4px 0 16px 0;
}
.my-description .location {
  margin: 24px 0 0 0;
}

.contact-me {
  color: #FDE74C;
  font-size: 42px;
  margin: 24px 16px 0 0;
  width: 48px;
}
.contact-me a, .contact-me a:visited {
  color: #FDE74C;
}
.contact-me a:hover, .contact-me a:focus {
  color: #5BC0EB;
}

.about-me {
  margin-top: 24px;
}
.about-me p {
  font-size: 1.2em;
  margin: 24px 0;
}
