.timeline-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-item {
    padding: 1.5em 2em 0.5em 2em;
    position: relative;
    color: rgba(0, 0, 0, .7);
    border-left: 2px solid rgba(0, 0, 0, .3);
}

/* dates */
.timeline-item::before {
    content: attr(timeline-header);
    margin: -0.5em 0 0 0;
    font-weight: bold;
    display: block;
    font-weight: 600;
    font-size: 0.785rem;
}

/* circles */
.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, .3);
    background: white;
}

.timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-item .title h1 {
    margin: 16px 0 8px 0;
    color: var(--main-color);
    font-weight: lighter;
}

.timeline-item .title p {
    font-size: 1.3em;
    margin: 0 0 8px 0;
}
