.timeline-container {
    width: auto;
    margin: 0 16%;
}

.project {
    margin: 16px 0;
}

.project p {
    margin: 8px 0;
}

.project .title {
    font-weight: lighter;
    font-size: 1.2em;
    color: var(--main-color);
    margin-bottom: 16px;
}

