
// TODO: move all font sizes outside from layouts

.competition-item {

    &__header {
        &__name {
            font-size: 1.5rem;
            float: left;
        }
        &__award {
            float: left;
            font-size: 1.5rem;
            margin-left: 1.6rem;
        }

        @include clearfix;
    }

    &__details {
        font-size: 1.4rem;
    }

    &:not(:first-child) {
        margin-top: 1.4rem;
    }
}
