
// TODO: move all font sizes outside from layouts

.timeline-item {
    margin-bottom: 1.6rem;

    &__header {
        &__company {
            font-size: 1.8rem;
        }

        &__position {
            float: left;
            font-size: 1.5rem;
        }

        &__employment-range {
            font-size: 1.5rem;
            float: left;
            margin-left: 1.6rem;
        }

        @include clearfix;
    }

    &__project {
        &__customer {
            font-size: 1.5rem;
            margin: 0.8rem 0;
        }

        &__details {
            font-size: 1.4rem;
        }

        &__key-points {
            font-size: 1.4rem;

            margin-top: 1.2rem;
            ul {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;

                li {
                    list-style-position: inside;
                }
            }
        }

        &:not(:first-child) {
            margin-top: 1.4rem;
        }
    }
}
