body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    line-height: 1.4;

    &--main {
        font-size: 4.2rem;
    }

    &--sub {
        display: block;
        font-size: 2.4rem;
    }
}

.double-row-info {
    color: $color-white;

    margin-top: 1.6rem;
    margin-bottom: 1.0rem;

    line-height: 1.4;

    &--row {
        display: block;
        font-size: 1.6rem;
    }
}

.heading-secondary {
    color: $color-grey-dark; // TODO: darker
    font-size: 2.4rem;
}

.paragraph {
    // TODO: do we want to highlight spans?
    color: $color-grey-dark; // TODO: darker
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}
